.type-g-8 .col-1 {
  border: 2px solid #1b6d85;
  border-radius: 5px;
}
.type-g-8 .col-2 {
  border: 2px solid #1b6d85;
  border-radius: 5px;
}
.type-g-8 .col-3 {
  border: 2px solid #1b6d85;
  border-radius: 5px;
}
.type-g-8 .border {
  border: 2px solid #e2eafd;
  border-radius: 4px;
  margin-top: 15px;
}
.type-g-8 .noidung1 {
  border-bottom: 1px solid #e2eafd;
  margin-left: 0px;
  margin-right: 0px;
  padding: 17px 15px;
  font: bold 18px Montserrat;
  color: #4d7df0;
  text-transform: uppercase;
  text-align: center;
}
.type-g-8 .noidung {
  border-bottom: 1px solid #e2eafd;
  margin-left: 0px;
  margin-right: 0px;
}
.type-g-8 .product_info .product_vendor {
  margin-top: 10px;
  color: #4d7df0;
}
.type-g-8 .product_info .product_name a {
  font-size: 16px;
  color: #000;
}
.type-g-8 .product_info .product_name a:hover {
  color: #4d7df0;
}
.type-g-8 .product_info .product_price {
  font-size: 15px;
}
.type-g-8 .product_info .product_price .product_price_with_sale {
  color: #f83c7b;
}
.type-g-8 .product_info .product_price .money_sale {
  text-decoration: line-through;
  color: #7f8496;
}
