.type-440 .navbar-default {
  background-color: #fff;
  border-bottom: 0.1px solid #cccccc;
  border-radius: 0px;
  height: 80px;
}
.type-440 .navbar-default .navbar-header .icon-bar {
  background-color: #fff;
}
.type-440 .navbar-default .navbar-header .logo-text {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 25px;
}
.type-440 .navbar-default .navbar-header .logo-text .text-highlight {
  color: #7ccbfc;
}
.type-440 .navbar-default .navbar-nav li {
  text-align: center;
}
.type-440 .navbar-default .navbar-nav li a {
  color: #000;
  display: block;
  padding: 7px 0 8px;
  padding: 31px 16px 27px;
  text-decoration: none;
}
.type-440 .navbar-default .navbar-nav li a:hover {
  color: #34D298;
  border-bottom: 2px solid #07a86d;
  text-decoration: none;
}
.type-440 .navbar-default .navbar-nav li .dropdown-menu {
  border-radius: none;
  border: 0.5px solid #ccc;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: #fff;
  padding: 0px 10px 0px 10px;
  margin-top: 0px;
}
.type-440 .navbar-default .navbar-nav li .dropdown-menu li {
  width: 100%;
  padding: 7px 0 8px;
  border-bottom: 1px solid #ccc;
}
.type-440 .navbar-default .navbar-nav li .dropdown-menu li a {
  border: none;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.type-440 .navbar-default .navbar-nav li .dropdown-menu li a:hover {
  color: #34D298;
  background-color: #fff;
}
.type-440 .navbar-default .navbar-nav .active-item a {
  color: #7ccbfc;
}
.type-440 .navbar-default .navbar-collapse {
  background-color: #fff;
  border: none;
}
.type-440 .navbar-default .navbar-collapse .nav li a:hover {
  color: #7ccbfc;
  background-color: #34D298;
}
.type-440 button {
  background: #34D298;
}
@media (max-width: 768px) {
  .type-440 .logo-text {
    margin-left: 20px;
  }
  .type-440 .navbar-toggle {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .type-440 .navbar-default .navbar-nav li {
    text-align: left;
    font-weight: 700;
  }
  .type-440 .nav .open>a {
    background-color: initial;
  }
  .type-440 .navbar-default 
        .navbar-nav li 
        .dropdown-menu li a {
    font-weight: 700;
  }
}
